.switch {
  position: relative;
  display: inline-block;
  width: 0.45in;
  height: 0.252in;
  margin-top:0.08in;
}


.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top:6%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  top:6%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ff5100;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff5100;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
